.card-collection {
    margin-top: 2em;
    .card {
        background: $white;
        box-shadow: 0 0 1px 1px rgba(0,0,0,0.1);
        padding: 1em;
        margin-bottom: 0.7em;
        border-radius: 7px;
        display: flex;
        &__thumbnail {
            cursor: pointer;
            min-width: 140px;
        }
        &__data {
            margin-left: 20px;
            display: flex;
            flex-direction: column;
            .posted-by {
                display: block;
                color: $dark-gray;
                font-size: 0.8em
            }
            .title {
                display: block;
                margin-top: 0.7em;
                margin-bottom: 0.5em;
            }
            .likes-comments {
                margin-top: auto;
                span {
                    font-size: 0.85em;
                    margin-right: 1.5em;
                }
            }
        }
    }
}